# Prerequisites
rs-az-resources.txt
terraform.tfstate
terraform.tfstate.backup
terraform
.terraform/
rsaz-putty-pubkey-new
azure-terraform-packer-cicd.zip
centos-tf/.terraform/
centos-tf/terraform.tfstate
centos-tf/terraform.tfstate.backup